*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/wall.png);
}

main{
    background-image: url(../img/cork.png);
}

.title{
    font-size: 60px;
}

.photo-holder{
    position: relative;
}

.pin{
    position: absolute;
    top: -15px;
}